/account.out
/data_key
/host.json
/token.json
*.DS_Store
/dist/*
/create-host.sh
/docker-compose.yml
/fetch-secret.sh
/load-policy.sh
/login-as-admin.sh
/login-as-host.sh
/start.sh
/store-n-fetch.yml
/store-secret.sh
